body {
	color: #CC9966;
	background-color: #262626;
	overflow-y: hidden;
}

/*Tags*/
header {
	/*Design*/
	color: #CC9966;
	background-color:#181818;
	font-family: verdana;
	text-align:center;
	font-size: 25px;
	display: block;
	width: 100%;
	/*Position*/
	position: fixed;
	left: 0px;
	right: 0px;
	top:0px;
}

main {
	/*Design*/
	color: #CC9966;
	background-color: #181818;
	font-family: verdana;
	display: block;
	width: auto;
	/*Position*/
	position: absolute;
	top: 15%;
	bottom: 0px;
	left: 44.5%;
	right: 0px;
	height: 45%;
}

main > section{
	position:absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	right:0px;
	bottom: auto;
	top: 100%;
	visibility: hidden;
	overflow-x: hidden;
}

main > section:target {
	top: 0%;
	visibility: visible;
	transition: all 500ms ease-out;
	overflow-x: auto;
}

menu {
	/*Design*/
	width: 8%;
	display:block;
	height: 100%;
	/*Position*/
	position: fixed;
	padding: 0em 0px 0pt;	
	top: 60px;
	left: 0px;
	margin: 0px 0px 0px 0px;
	background-color: #181818;
}

footer {
	display: block;
	background-color: #181818;
	color: #CC9966;
	text-align:center;
	position: fixed;
	font-family: verdana;
	font-size: 16px;
	height: 30px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

/*Ueberschriften*/
h1{
	/*Position*/
	margin-top: 0px;
	margin-bottom: 0px;
}

/*Listen*/
ul {
	/*Design*/
	list-style-type: none;
	width: 100%;
	padding: 0em 0px 0pt;
	/*Position*/
	float: left;
	margin: 0px;
}

/*Aufzählungen*/
li a {
	/*Design*/
	color: #CC9966;
	font-family: verdana;
	text-align: right;
	font-size:30px;
	display: block;
	text-decoration: none;
	/*Position*/
    padding: 0em 8px 5pt;
    width: auto;	
}

li a:hover {
	/*Design*/
    background-color: #9966FF;
    color: #151515;
}

li a:active {
	/*Design*/
    background-color: #CC9966;	
}

/*Tabellen*/
	/*Design*/
table {
	width: 100%;
}

table tr td:nth-child(5) {
	text-align: center;
}

table thead th:hover{
	background: #9966FF;
	color: #151515;
}

th{
	/*Design*/
	text-align:center;
	width:110px;
}

tr {
	text-align: center;
	width: 100px;
}
.button{
	width: 60px;
	font-family: verdana;
	background: #FFFFF;
 	color: #CC9966;
  	font-size: 18px;
 	border: none;
	border-radius: 30px;
 	text-decoration: none;
}

#refresherButton {
	position: fixed;
	height: 112px;
	width: 112px;
	right:30px;
	bottom:60px;
	border-style: none;
	background-image: url(../images/refreshButton.png);
}



