body {
	color: #CC9900;
	background-color: #262626;
}

/*Tags*/
header {
	/*Design*/
	color: #CC9900;
	background-color:#181818;
	font-family: verdana;
	text-align:center;
	font-size: 25px;
	display: block;
	width: 100%;
	/*Position*/
	position: fixed;
	left: 0px;
	right: 0px;
	top:0px;
	border-bottom-style: solid;
}

main {
	/*Design*/
	color: #CC9900;
	background-color: #181818;
	font-family: verdana;
	display: block;
	width: auto;
	/*Position*/
	position: absolute;
	top: 15%;
	bottom: 0px;
	left: 44.5%;
	right: 0px;
	height: 40%;
	border: solid;
	border-right:0px;
}

main > section{
	position:absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	right:0px;
	bottom: auto;
	top: 100%;
	visibility: hidden;
	overflow-x: hidden;
}

main > section:target {
	top: 0%;
	visibility: visible;
	transition: all 500ms ease-out;
	overflow-x: auto;
}

menu {
	/*Design*/
	width: auto;
	display:block;
	height: 70%;
	/*Position*/
	position: fixed;
	padding: 0em 0px 0pt;	
	top: 15%;
	left: 0px;
	margin: 0px 0px 0px 0px;
	border: solid;
	border-left: 0px;
	background-color: #181818;
}

footer {
	display: block;
	background-color: #181818;
	color: #CC9900;
	text-align:center;
	position: fixed;
	font-family: verdana;
	font-size: 16px;
	height: 30px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	border-top-style: solid;

}

/*Ueberschriften*/
h1{
	/*Position*/
	margin-top: 0px;
	margin-bottom: 0px;
}

/*Listen*/
ul {
	/*Design*/
	list-style-type: none;
	width: 100%;
	padding: 0em 0px 0pt;
	/*Position*/
	float: left;
	margin: 0px;
}

/*Aufzählungen*/
li a {
	/*Design*/
	color: #CC9900;
	font-family: verdana;
	text-align: right;
	font-size:25px;
	display: block;
	text-decoration: none;
	/*Position*/
    padding: 0em 8px 5pt;	
    width: auto;	
}

li a:hover {
	/*Design*/
    background-color: #CC9900;
    color: #151515;
}

li a:active {
	/*Design*/
    background-color: gold;	
    color: green;
}

/*Tabellen*/
	/*Design*/
table {
	width: 100%;
}

table tr td:nth-child(5) {
	text-align: center;
}

table thead th:hover{
	background: #CC9900;
	color: #151515;
}

th{
	/*Design*/
	text-align:center;
	width:110px;
}

tr {
	text-align: center;
	width: 100px;
}
.buttonMain{
	width: 50px;
	font-family: Courier New;
 	color: #cc9900;
  	font-size: 16px;
 	background: #00871d;
 	border: none;
 	padding: 0px 0px 0px 0px;
 	text-decoration: none;
}

#button{
	-webkit-border-radius: 9;
    -moz-border-radius: 9;
  	border-radius: 9px;
  	font-family: Arial;
  	color: #000000;
  	font-size: 16px;
  	background: #fcfffd;
  	padding: 0px 0px 0px 0px;
  	text-decoration: none;
  	border:none;
}


